
body {
  font-family: 'Cutive Mono';
  font-size: 15px;
  background-color: Black;
  color:white;
}

h1 {
  font-family: 'Knewave', cursive;
  float: left;
}

#my-map {
  position: absolute;
  margin-left: 26%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#about {
  height:50%;
  width: 25%;
}

footer {
  width: 25%;
  position: fixed;
  bottom: 10px;
}

}
